[Unit]
Description={{PROJECT_NAME}} ExpressJS API Application
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{USER_HOME}}/applications/{{PROJECT_NAME}}{{SUBPROJECT_PATH}}
Environment="NODE_ENV=production"
Environment="PATH=/usr/bin:/usr/local/bin"
EnvironmentFile={{USER_HOME}}/applications/{{PROJECT_NAME}}{{SUBPROJECT_PATH}}/.env
ExecStart=/usr/bin/node dist/server.js

[Install]
WantedBy=multi-user.target
