[Unit]
Description={{PROJECT_NAME}} ExpressJS API Application
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{USER_HOME}}/applications/{{PROJECT_NAME}}
Environment="NODE_ENV=production"
Environment="PATH=/usr/bin:/usr/local/bin"
EnvironmentFile={{USER_HOME}}/applications/{{PROJECT_NAME}}/.env
ExecStart=/usr/bin/node dist/server.js
# For APIs
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
