[Unit]
Description={{PROJECT_NAME}} NextJS Application
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{USER_HOME}}/applications/{{PROJECT_NAME}}{{SUBPROJECT_PATH}}
Environment="NODE_ENV=production"
Environment="PORT={{PORT}}"
EnvironmentFile={{USER_HOME}}/applications/{{PROJECT_NAME}}{{SUBPROJECT_PATH}}/.env.local
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
